.video-container{
  
  height: 70vh;
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 4px;
  position: sticky;
}
.video-player-container{
  display: flex;
  justify-content: center;
}

@media screen and (max-width:450px){
  .video-container{
    height: 50vh;
    padding: 2px;
  }
}